@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Created by Marissa Anderson
    
    This application allows users to view, create, edit, and delete movies in a movie database app.
</p>

