@{
    ViewData["Title"] = "Movie List";
    
}
<div class="container body-content">

    <div id="myMovieHeading" class="jumbotron">
        <header>
            <h1>My Movie Application</h1>
            <img src="~/images/popcorn-clipart-10.jpg" alt="popcorn" height="80" width="80">
        </header>
    </div>
    <div class="btn btn-info btn-lg">
        <a class="bigbtn" href="/Movies">Take me to the movies!</a>
    </div>
    <div class="btn btn-info btn-lg">
        <a class="bigbtn" href="/Reviews">Take me to the reviews!</a>
    </div>
</div>
